.banner {
    height: 410px;
    flex-shrink: 0;
    background: #0E1E32;
    position: relative;
}

@media (max-width: 500px) {
    .banner {
        height: 250px;
    }
}
    

.news-detail{
    position:absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}

@media (max-width:500px) {
    .news-detail{
        top: 5%;
    }
}


.mid-title{
color: v #2A2A2A;
font-family: Serif;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 42px; 
}


.mid-image{
height: 319px;
flex-shrink: 0;
}
